@import "resets";

body{
  background-color: #fde4ee;
}
#login-form,
#register-form {
  margin-top: 50px;
  /* border: solid;
  border-color: burlywood;
  border-radius: 5px; */
}
#login-title,
.title-registro {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: xx-large;
}
#login-form-container,
#register-form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: large;
  input{
    border-radius: 8px;
    border-width: inherit;
    height: 40px;
  }
  input:focus{
    outline: solid #f8c6da;
  }
}
#login-buttons-container {
  padding: 10px;
  font-size: large;
  button {
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    border-width: inherit;
    background-color: white;
    height: 50px;
  }
}
.register-button-container {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: large;
  button {
    padding: 10px;
    max-width: 200px;
    align-self: center;
    border-radius: 8px;
    border-width: inherit;
    background-color: white;
    height: 50px;
  }
}

#log-out-button {
  width: fit-content;
}
/*Diseño de la página welcome*/
#section-welcomen {
}
.main-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.log-out-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
  margin: 20px;

  button {
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    border-style: solid;
    border-width: inherit;
    background-color: white;
    font-size: small;
  }
}
.title {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 8px;
}
.all-products-container {
  margin: 0px;
}
.card {
  border: solid;
  border-color:antiquewhite;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  background-color: white;

  .imgContainer {
    width: 200px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    margin: 5px;
    object-fit: contain;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    padding: 20px;
  }
  button {
    font-size: 17px;
    padding: 10px;
    border: solid;
      border-radius: 8px;
      border-color: antiquewhite;
      background-color: white;
      height: 50px;
  }
  h3 {
    padding: 5px;
    text-align: center;
  }
  #buttons-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px;
  }

}

@media (min-width: 480px) {
  #section {
    width: 500px;
    margin: auto;
  }
  .log-out-container button{
    font-size: large;
  }
  #products-container {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  /* #section-welcomen {

  } */

  .log-out-container {

    button {
    font-size: larger;
    }
  }
  .title {
    margin-bottom: 50px;
    font-size: 25px;
    padding: 20px;
    margin-top: 0;
  }
  #products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
  }
}
